<h2><%= @ticket.subject %></h2>
Created by <%= @ticket.name %><br>
<%= @ticket.message %>

<p>
  <%= link_to "Edit Ticket", edit_ticket_path(@ticket) %>
  <%= link_to "Delete Ticket", ticket_path(@ticket), method: :delete,
      data: { confirm: "Are you sure you want to delete this ticket?" } %>
  <%= link_to "Back to all Tickets", tickets_path %>
</p>

